.about-heading {
    text-align: center;
    margin-top: 40vh;
}

.home-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0vh;
    padding: 0 .3rem;
    margin-left: 50vw;
    margin-right: 50vw;
    background-color: white;
    text-decoration: none;
}

.home-link:hover{
    background-color: gold;
}