
.card-grp {
    padding: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: .2rem;
  }
  
  .card {
      width: 30vw;
      margin: .5rem;
      padding: 1rem;
  }
  
  .card-link  {
        color: white;
        text-decoration: none;
  }

  .card-link:hover {
    color: white;
    font-weight: 600;
  }

  @media screen and (max-width: 600px) {
      .card {
          width: 65vw;
          margin: .3rem;
          padding: .5rem;
      }
  }