body{
    background: linear-gradient(to right, #9900ff, #cc80ff);
    padding: 5px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.welcome-msg{
    text-align: center;
    margin-top: 5vh;
}

.active:visited{
    color: white;
}