/* .svg-cls {
    width: 210mm;
    height: 297mm;
} */

.plot-no {
    margin: 0;
    padding: 1px;
}

.green {
    color: green;
    font-weight: 600;
}

.red {
    color: red;
    font-weight: 600;
}

.blue {
    color: blue;
    font-weight: 600;
}

/* @media only screen and (max-width: 540px) {
    .svg-cls {
        width: 105mm;
        height: 150mm;
    }
} */